rd.neednet=1 {% for bond in hostvars[inventory_hostname].bonds %} bond={{bond.name}}:{{bond.interfaces|join(',')}}:{{bond.options}}{% endfor %}{% for vlan in hostvars[inventory_hostname].get('vlans', []) %} vlan={{vlan.device}}.{{vlan.tag}}:{{vlan.device}}{% endfor %}{% for interface in hostvars[inventory_hostname].interfaces %} ip={{interface.ip_address}}::{{interface.get('gateway', '')}}:{{interface.ip_netmask}}:{% if 'gateway' in interface %}{{inventory_hostname}}{% endif %}:{{interface.name}}:none{% if fallback_dns %}:{{fallback_dns}}{% endif %}{% endfor %}{% for interface in hostvars[inventory_hostname].get('disabled_interfaces',[]) %} ip={{interface}}:none{% endfor %}{% for ns in hostvars[inventory_hostname].nameservers %} nameserver={{ns}} {% endfor %}
