# This file contains credentials and other sensitive variable.
# It should be encrypted with ansible-vault if committed to git and 
# included in the ansible-playbook command with the -e option

vcenter_user: 'Administrator@vsphere.signal9.gg'
vcenter_password: 'REDACTED'
ilo_user: 'Administrator'
ilo_password: 'REDACTED'
idrac_user: 'root'
idrac_password: 'REDACTED'
